body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
}
.box{
    width: 200px;
    float: left;
    margin: 2px;
    border: 2px solid dimgray;
    background-color: burlywood;
    padding: 0px;
}
.box img{
    max-width: 200px;
}
h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 21px;
}